[Unit]
Description=Celery workers
After=network.target redis-server.service
Require=systemd-tmpfiles-setup.service redis-server.service

[Service]
Type=forking
User=django
Group=django
EnvironmentFile=/etc/default/celery
WorkingDirectory=/srv/django/hp
RestartSec=5
ExecStart=/srv/django/bin/celery multi start $CELERYD_NODES -A hp --pidfile=${CELERYD_PID_FILE} \
    --logfile=${CELERYD_LOG_FILE} --loglevel="${CELERYD_LOG_LEVEL}" $CELERYD_OPTS
ExecReload=/srv/django/bin/celery multi restart $CELERYD_NODES -A hp --pidfile=${CELERYD_PID_FILE} \
    --logfile=${CELERYD_LOG_FILE} --loglevel="${CELERYD_LOG_LEVEL}" $CELERYD_OPTS
ExecStop=/srv/django/bin/celery multi stopwait $CELERYD_NODES --pidfile=${CELERYD_PID_FILE}

[Install]
WantedBy=multi-user.target
